<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main class="admin">
        <section class="admin__sidebar">
            <%- include('../components/logo/logo'); %>
            <h1 class="title title--h1">Admin</h1>
            <%- include('../components/sidebar/admin-sidebar', {adminpage: "dashboard"}); %>
        </section>
        <section class="admin__content">
            <% if (typeof user != "undefined") { %>
                <%- include('../partials/header-admin', {user}); %>            
            <% } %>
            <section class="admin__display">
                <h2 class="title title--h2">Dashboard</h2>
                <section class="dashboard">
                    <section class="dashboard__card">
                        <h3 class="title title--h3">Huidige Hero:</h3>
                        <img src="<%= currenthero.fileUrl %>" alt="" srcset="">
                    </section> 
                    <section class="dashboard__card">
                        <h3 class="title title--h3">Gebruikers</h3>
                        <section class="table-cover table-cover--small">
                            <table class="table">
                                <tr class="table__head">
                                    <th class="table__head-item table__head-item--name">Naam</th>        
                                    <th class="table__head-item table__head-item--admin">Admin</th>        
                                </tr>
                                <% users.forEach(function(user, index){ %>
                                    <tr class="table__body">
                                        <td class="table__body-item table__body-item--name"><%= user.name %></td>
                                        <td class="table__body-item table__body-item--admin">
                                            <% if (user.admin) { %>
                                                ✅
                                            <% } else { %>
                                                ❌
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </table>
                        </section>  
                    </section> 
                    <section class="dashboard__card">Inbox</section> 
                </section> 
            </section>
        </section>

        </section>
    </main>
    
    <script src="../dist/scripts/main.js"></script>
</body>

</html>