<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header', {active: "contact"}); %>

    <main class="page page--form">
      <section class="form-container">
        <form method="post" class="form">
          <h1 class="title title--h2">Contact</h1>
          <p>
            Tof dat je contact met ons op wilt nemen! Vul dit formulier in en
            stuur naar ons wat je wilt weten of vragen.
          </p>
          <!-- prettier-ignore -->
          <%- include('../components/control/control' , {type: "text", name: "name", placeholder:"Naam", required:true, label: "Naam", width:"fw" }); %> 
          <%- include('../components/control/control' , {type: "email", name: "email", placeholder:"naam@voorbeeld.nl", required:true, label: "E-mail (voor de reactie)", width:"fw"}); %> 
          <%- include('../components/control/control' , {type: "text", name: "subject", placeholder:"Onderwerp", required:true, label: "Onderwerp", width:"fw"}); %>

          <label class="control control--fw">
            <span>
              Wat is je bericht aan ons?
              <span class="control__required">*</span>
            </span>
            <textarea
              class="control__input"
              name="content"
              cols="30"
              rows="5"
              placeholder="Wat is je bericht aan ons?"
              required></textarea>
          </label>

          <p>*Verplicht</p>
          <button class="cta cta-theme">Verstuur bericht</button>
        </form>
        <dialog id="succes" class="form-succes">
          <section class="form-succes__section">
            <h1 class="title title--h2">Bedankt voor je bericht!</h1>
            <p>
              We nemen zo snel mogelijk contact met je op. Mocht je je ook
              willen inschrijven dan kan dat via het
              <a href="/inschrijven" class="link link--inline"
                >inschrijfformulier</a
              >.
            </p>
            <button
              class="cta cta-theme"
              onclick="event.target.parentElement.parentElement.id = ''">
              Sluiten
            </button>
          </section>
        </dialog>
        <section>
          <img src="./assets/images/zyco-hero.png" />
        </section>
      </section>
    </main>

    <%- include('../partials/footer'); %>
    <script type="module" src="./dist/scripts/main.js"></script>
  </body>
</html>
