<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="index">
    <%- include('../partials/header'); %>
    
    <main class="page">
        <section class="hero">
            <section class="hero__content">
                <h1 class="title title--h1 title--white">Westerkracht</h1>
                <%- include('../components/logo/logo'); %>
                <a class="cta" href="#">Schrijf je in bij westerkracht</a>
            </section>
            <img class="hero__image hero__image--light" src="./assets/images/jack.png">
        </section>

        <section>
            <h2 class="title title--h2">Wat is wersterkracht</h2>
            <section class="infoblokken">
                <% infos.forEach(function(info, index){ %>
                    <section class="infoblok">
                        <img class="infoblok__image" src="<%= info.image %>">
                        <section class="infoblok__info">
                            <h3 class="title title--h3 title--white"><%= info.title %></h3>
                            <p><%= info.subtitle %></p>
                            <p><%= info.content %></p>
                        </section>
                        <a href="<%= info.link %>" class="cta infoblok__link"><%= info.linkTitle %> </a>
                    </section>
                <% })%>
            </section>
        </section>

        <section>
            <h2 class="title title--h2">De coaches</h2>

            <section style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;">
                <% coaches.forEach(function(coach, index){ %>
                    <section>
                        <h2><%= coach.name %></h2>
                        <p><%= coach.ig[0] %></p>
                        <p><%= coach.ig[1] %></p>
                        <p><%= coach.content %></p>
                    </section>
                <% })%>
            </section>
        </section>
        <section>
            <h2 class="title title--h2">Schrijf je in</h2>
            <%- include('../components/logo/logo'); %>
            <a href="#" class="cta">Schrijf je in bij westerkracht</a>

        </section>
    </main>

    <%- include('../partials/footer'); %>
    <script type="module" src="./dist/scripts/all.js"></script>
</body>

</html>