<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="index">
    <%- include('../partials/header'); %>
    
    <main class="page">

        <section class="hero">
            <section class="hero__content">
                <h1>Westerkracht</h1>
                <%- include('../components/logo/logo'); %>
                <a class="cta" href="#">Schrijf je in</a>
            </section>
            <img class="hero__image hero__image--light" src="./assets/images/jack.png">
        </section>

        <section>
            <h2 class="title title--h2">Wat is wersterkracht</h2>

            <section style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;">
                <section style="background-color:green; height: 200px;"></section>
                <section style="background-color:yellow; height: 200px;"></section>
                <section style="background-color:grey; height: 200px;"></section>
            </section>
        </section>

        <section>
            <h2 class="title title--h2">De coaches</h2>

            <section style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;">
                <section style="background-color:green; height: 200px;"></section>
                <section style="background-color:yellow; height: 200px;"></section>
                <section style="background-color:grey; height: 200px;"></section>
            </section>
        </section>
        <section>
            <h2 class="title title--h2">Schrijf je in</h2>
            <%- include('../components/logo/logo'); %>
            <a href="#" class="cta">Schrijf je in</a>

        </section>

        <!-- <video class="vidplayer" playsinline="" preload style="max-width:300px;" data-settings='{"colorscheme":["rgba(21,28,30,0.75)", "rgb(190, 30, 200)", "yellow"], "theme": "minimal"}'>
            <source src="./assets/testvideo.MOV" type="video/mp4">
        </video> -->
    </main>

    <%- include('../partials/footer'); %>
    <script type="module" src="./dist/scripts/all.js"></script>
    <!-- <script src='https://stefanradouane.github.io/vidplayer/index.js'></script> -->
</body>

</html>