<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header', {active:"inschrijven"}); %>

    <main class="page page--form">
      <section class="form-container">
        <form method="post" class="form">
          <h1 class="title title--h2">Inschrijven</h1>
          <p>
            Tof dat je lid wilt worden! Vul dit formulier in verstuur het, wij
            nemen zo snel mogelijk contact met je op!
          </p>
          <!-- prettier-ignore -->
          <%- include('../components/control/control' , {type: "text", name: "name", placeholder:"Naam en achternaam", required:true, label: "Naam", width:"fw" }); %> 
          <%- include('../components/control/control' , {type: "email", name: "email", placeholder:"naam@voorbeeld.nl", required:true, label: "E-mail (voor de reactie)", width:"fw"}); %> 
          <%- include('../components/control/control' , {type: "number", name: "age", placeholder:"22", required:true, label: "Leeftijd", width:"small"}); %> 
          <%- include('../components/control/control' , {type: "phone", name: "phone", placeholder:"0612345678", required:true, label: "Telefoon nummer", width:"small"}); %>
          <%- include('../components/coachselect/coachselect' , {coaches: coaches}); %>

          <label class="control control--fw">
            <span>
              Wat is je bericht aan ons?
              <span class="control__required">*</span>
            </span>
            <textarea
              class="control__input"
              placeholder="Wat is de reden van jouw inschrivjving?"
              name="content"
              cols="30"
              rows="5"
              required></textarea>
          </label>

          <p class="form__requirements">*Verplicht</p>
          <button class="cta cta-theme">Verstuur inschrijving</button>
        </form>
        <dialog id="succes" class="form-succes">
          <section class="form-succes__section">
            <h1 class="title title--h2">Bedankt voor je inschrijving!</h1>
            <p>
              We nemen zo snel mogelijk contact met je op. Als je nog vragen
              hebt, neem dan contact met ons op via het
              <a href="/contact" class="link link--inline">contact</a>
              formulier.
            </p>
            <button
              class="cta cta-theme"
              onclick="event.target.parentElement.parentElement.id = 'gone'">
              Sluiten
            </button>
          </section>
        </dialog>
        <section>
          <img src="./assets/images/jack-hero.png" width="100%" />
        </section>
      </section>
    </main>

    <%- include('../partials/footer'); %>
    <script type="module" src="./dist/scripts/main.js"></script>
  </body>
</html>
