<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <main class="admin">
        <section class="admin__sidebar">
            <%- include('../../components/logo/logo'); %>
            <h1 class="title title--h1">Admin</h1>
            <%- include('../../components/sidebar/admin-sidebar', {adminpage: "coach"}); %>
        </section>
        <section class="admin__content">
            <% if (typeof user != "undefined") { %>
            <%- include('../../partials/header-admin', {user:user}); %>            
            <% } else { %>
                <%- include('../../partials/header-admin', {user:undefined}); %>            
            <% } %>
            <section class="admin__display">
                <h2 class="title title--h2">De Coaches</h2>
                <section class="coaches-container"></section>   
            </section> 
        </section>
    </main>

    <script src="../dist/scripts/main.js"></script>
</body>

</html>