<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="index">
    <%- include('../../partials/header-admin'); %>
    <main class="admin page">
        <h1 class="title title--h1">Site gebruikers</h1>
        <h2 class="title title--h3">Alleen admins kunnen inloggen!</h2>
        <section class="table">
        <table style="width:100%;">
            <tr>
                <th>ID</th>        
                <th>Naam</th>        
                <th>Email</th>        
                <th>Admin</th>        
            </tr>
            <% users.forEach(function(user, index){ %>
                <tr>
                    <td>Gebruiker <%= index + 1 %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <% if (user.admin) { %>
                            ✅
                        <% } else { %>
                            ❌
                        <% } %>
                    </td>
                </tr>
                
                <!-- <section style="background: rgb(<%= 250 - (index + 1) * 20 %>, 251, 251);">
                    <p>Gebruiker <%= index + 1 %></p><br>
                    <p>Naam</p>
                    <p></p><br>
                    <p>Email</p>
                    <p></p>
                </section> -->
                <% }) %>
            </table>
        </section>

    </main>
    <!-- <script type="module" src="../"></script> -->
    <!-- <script src='https://stefanradouane.github.io/vidplayer/index.js'></script> -->
</body>

</html>