<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="index">
    <%- include('../../partials/header'); %>
    <main class="admin">
        <h1>Welkom Bij de westerkracht infoblokken</h1>
        <section style="display: grid; grid-template-columns: 1fr; gap:10px;">
            <% info.forEach(function(coach, index){ %>
                <section>
                    <form method="POST" style="display: flex; flex-direction: column; max-width: 50%; gap:20px;  border: 10px solid grey; padding:20px;">
                        <div style="display: flex; flex-direction: column;">
                            <label for="name">Info blok naam <em>*</em></label>
                            <input type="text" name="name" value="<%= coach.title %>">
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <label for="ig">Info blok subtitle <em>*</em></label>
                            <input type="text" name="ig" value="<%= coach.subtitle %>">
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <label for="name">Info content <em>*</em></label>
                            <textarea name="content" cols="30" rows="10"><%= coach.content %></textarea>
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <em>Deze foto sectie zal veranderd worden naar een fotobibliotheek van de site o.i.d.</em>
                            <label for="name">Info image</label>
                            <input type="file" name="image">
                            <div>
                                <p>Huidige foto</p>
                                <p><%= coach.image %></p>
                                <img src="<%= coach.image %>" alt="">
                            </div>
                        </div>

                        <input type="hidden" name="id" value="<%= coach._id %>">
                        
                        <button>Verander gegevens</button>
                    </form>
                </section>
                <% }) %>
            </section>
    </main>
    <aside class="admin-sidebar">
        <ul class="admin-sidebar__list">
            <li class="admin-sidebar__list-item">
                <a href="/admin" class="admin-sidebar__anchor">Terug naar admin</a>
            </li>
        </ul>
    </aside>

    <%- include('../../partials/footer'); %>
    <script type="module" src="./dist/scripts/all.js"></script>
    <!-- <script src='https://stefanradouane.github.io/vidplayer/index.js'></script> -->
</body>

</html>